---
slug: admin/users
layout: modules/admin/application
---
{% liquid
  function current_user = 'modules/user/current'
  include 'modules/permission/can_do_or_unauthorized', user: current_user, permission: 'users.manage'

  function users = 'modules/user/get_all'
%}
{% for user in users %}
  <div>
    <h3>{{ user.email }} (#{{ user.id }})</h3>
    <h4>Hook implementations</h4>
    {% for hook in user.hook_results %}
      <p><strong>{{ hook[0] }}</strong></p>
      <code>{{ hook[1] }}</code>
    {%endfor %}
  </div>
{% endfor %}
