<main class="app-user-intro">

  <section>
    <p class="pos-supplementary">If you are seeing this page, you have been granted permissions <code>subscription.read</code>.</p>
    <p>Check <code>app\views\pages\subscription\index.liquid</code> to see the code behind.</p>

    <p><a href="/" class="pos-button pos-button-primary">Back</a></p>
  </section>

</main>