---
metadata:
  name: login form
  params:
    action: ''
    method: 'POST'
    redirect_to: '/'
    classes: ''
    errors:
      email:
        - Error message
    values:
      email: "random@example.com"
    email_placeholder: ''
    submit: 'Submit'
---
{% liquid
  assign action = action | default: params.action
  assign method = method | default: params.method | default: 'POST'
  assign errors = errors | default: errors
  assign redirect_to = redirect_to | default: params.redirect_to | default: '/'
  assign footer = footer | default: params.footer
  assign classes = classes | default: params.classes
  assign email_placeholder = email_placeholder | default: params.email_placeholder
  assign submit = submit | default: params.submit
  assign default_submit = 'modules/user-forms/login' | t
  assign submit = submit | default: default_submit
%}

<form action="{{action}}" method="{{method}}" {% if classes %}class="{{classes}}"{% endif %} data-tc="login-form">
  {% liquid
    assign input_params = '{}' | parse_json | hash_merge: name: 'email', required: true, type: 'email', value: params.values.email, classes: "w-full", placeholder: email_placeholder
    assign label_params = '{}' | parse_json | hash_merge: content: 'Email'
    assign validation = '{}' | parse_json
    if errors['email']
      hash_assign validation['passed'] = false
      hash_assign validation['messages'] = errors['email']
    endif
    assign fieldset_params = '{}' | parse_json | hash_merge: label_params: label_params, input_params: input_params, validation: validation, classes: "mb-6"
    theme_render_rc 'components/molecules/formfield', params: fieldset_params
  %}

  {% liquid
    assign input_params = '{}' | parse_json | hash_merge: name: 'password', type: 'password', required: true, classes: "w-full"
    assign label_params = '{}' | parse_json | hash_merge: content: 'Password'
    assign validation = '{}' | parse_json
    if errors['password']
      hash_assign validation['passed'] = false
      hash_assign validation['messages'] = errors['password']
    endif
    assign fieldset_params = '{}' | parse_json | hash_merge: label_params: label_params, input_params: input_params, validation: validation, classes: "mb-6"
    theme_render_rc 'components/molecules/formfield', params: fieldset_params
  %}

  {% liquid
    assign input_params = '{}' | parse_json | hash_merge: name: 'authenticity_token', type: 'hidden', value: context.authenticity_token
    theme_render_rc 'components/atoms/input', params: input_params
  %}

  {% liquid
    assign input_params = '{}' | parse_json | hash_merge: name: 'redirect_to', type: 'hidden', value: redirect_to
    theme_render_rc 'components/atoms/input', params: input_params
  %}

  {% theme_render_rc 'components/atoms/button', content: submit, type: 'submit' %}
</form>
