---
metadata:
  name: New password form
  params:
    context: {}
    action: '/passwords'
    redirect_to: '/'
    errors: {}
    values: {}
    submit: 'Submit'
---
{% liquid
  assign context = context | default: params.context
  assign action = action | default: params.action
  assign redirect_to = redirect_to | default: params.redirect_to
  assign errors = errors | default: params.errors
  assign values = values | default: params.values
  assign classes = classes | default: params.classes
  assign submit = submit | default: params.submit
  assign default_submit = 'modules/user-forms/password_update' | t
  assign submit = submit | default: default_submit
%}
<form action="{{action}}" method="post" class="classes" data-tc="change-password" autocomplete="off">

  {% liquid
    assign input_params = '{}' | parse_json | hash_merge: name: 'password[password]', required: true, type: 'password', classes: "w-full"
    assign label = 'modules/user-forms/password' | t
    assign label_params = '{}' | parse_json | hash_merge: content: label
    assign validation = '{}' | parse_json
    if errors['password']
      hash_assign validation['passed'] = false
      hash_assign validation['messages'] = errors['password']
    endif
    assign fieldset_params = '{}' | parse_json | hash_merge: label_params: label_params, input_params: input_params, description_params: description_params, validation: validation, classes: "mb-6"
    theme_render_rc 'components/molecules/formfield', params: fieldset_params
  %}

  {% liquid
    assign input_params = '{}' | parse_json | hash_merge: name: 'password[password_confirmation]', required: true, type: 'password', classes: "w-full"
    assign label = 'modules/user-forms/password_confirmation' | t
    assign label_params = '{}' | parse_json | hash_merge: content: label
    assign validation = '{}' | parse_json
    if errors['password_confirmation']
      hash_assign validation['passed'] = false
      hash_assign validation['messages'] = errors['password_confirmation']
    endif
    assign fieldset_params = '{}' | parse_json | hash_merge: label_params: label_params, input_params: input_params, description_params: description_params, validation: validation, classes: "mb-6"
    theme_render_rc 'components/molecules/formfield', params: fieldset_params
  %}

  {% liquid
    assign input_params = '{}' | parse_json | hash_merge: name: 'authenticity_token', type: 'hidden', value: context.authenticity_token
    theme_render_rc 'components/atoms/input', params: input_params
  %}

  {% liquid
    assign input_params = '{}' | parse_json | hash_merge: name: 'redirect_to', type: 'hidden', value: redirect_to
    theme_render_rc 'components/atoms/input', params: input_params
  %}

  {% theme_render_rc 'components/atoms/button', content: submit, type: 'submit' %}
</form>
