---
metadata:
  name: Reset password form
  params:
    context: {}
    action: '/authentication_links/create'
    redirect_to: '/'
    errors: {}
    values: {}
---
{% liquid
  assign context = context | default: params.context
  assign action = action | default: params.action
  assign redirect_to = redirect_to | default: params.redirect_to
  assign errors = errors | default: params.errors
  assign values = values | default: params.values
  assign classes = classes | default: params.classes
  assign submit = submit | default: params.submit
  assign default_submit = 'modules/user-forms/reset_password' | t
  assign submit = submit | default: default_submit
%}
<form action="{{action}}" method="post" class="classes" data-tc="create-authentication-link">
    {% liquid
    assign input_params = null | hash_merge: name: 'authentication_link[email]', required: true, type: 'email', value: params.values.email, classes: "w-full"

    assign email = 'modules/user-forms/email' | t
    assign desc = 'modules/user-forms/email_desc' | t
    assign label_params = null | hash_merge: content: email
    assign description_params = null | hash_merge: content: desc
    assign validation = '{}' | parse_json
    if errors['email']
      hash_assign validation['passed'] = false
      hash_assign validation['messages'] = errors['email']
    endif
    theme_render_rc 'components/molecules/formfield', label_params: label_params, input_params: input_params, description_params: description_params, validation: validation, classes: "mb-6"
  %}

  {% theme_render_rc 'components/atoms/input', params: name: 'authenticity_token', type: 'hidden', value: context.authenticity_token %}

  {% theme_render_rc 'components/atoms/input', name: 'redirect_to', type: 'hidden', value: redirect_to %}

  {% liquid
    if context.constants.VERIFY_HCAPTCHA == "true"
      assign validation = '{}' | parse_json
      if errors['hcaptcha']
        hash_assign validation['passed'] = false
        hash_assign validation['messages'] = errors['hcaptcha']
      endif
      assign input_attributes = '{}' | parse_json
      hash_assign input_attributes['data-sitekey'] = context.hcaptcha_site_key
      assign input_params = null | hash_merge: type: 'hcaptcha', value: params.values.email, attributes: input_attributes, classes: 'h-captcha'

      assign fieldset_params = null | hash_merge: input_params: input_params, validation: validation, classes: "mb-6"
      theme_render_rc 'components/molecules/formfield', params: fieldset_params
    elsif context.environment == 'staging'
      print "<!-- hCaptcha has been disabled on staging environments -->"
    endif
  %}

  {% theme_render_rc 'components/atoms/button', content: submit, type: 'submit' %}
</form>
