{% liquid
  function current_user = 'modules/user/queries/user/current'
%}
{% if current_user.id %}
  current_user: {{ current_user }}
  <form action="/sessions" method="post">
    <input type="hidden" name="authenticity_token" value="{{ context.authenticity_token }}">
    <input type="hidden" name="_method" value="delete" />
    <button type="submit">
      {{ 'modules/user/users.logout' | t }}
    </button>
  </form>
{% else %}
  <a href="/users/new">Register</a><br/>
  <a href="/sessions/new">Log in</a><br/>
  <a href="/passwords/reset">Reset password</a>
{% endif %}
