<main class="app-user-intro">

<section>
  <p class="pos-supplementary">
    If you are seeing this page, you have been granted permissions <code>admin.read</code>.
  </p>

  <form method="post" action="/sessions/impersonations" class="pos-form">
<input type="hidden" name="authenticity_token" value="{{ context.authenticity_token }}">
    <fieldset>
      <label for="user_id">Impersonate any other user</label>
      <input type="hidden" name="authenticity_token" value="{{ context.authenticity_token }}">
      <select name="user_id" id="user_id">
        {% for user in users.results %}
          <option value="{{ user.id }}">{{ user.email }}</option>
        {% endfor %}
      </select>
      <button type="submit" class="pos-button pos-button-primary">Impersonate</button>
    </fieldset>
  </form>

  <p><br><a href="/" class="pos-button pos-button-primary">Back</a></p>

</section>

</main>