<!DOCTYPE html>
<html class="pos-app">
  <head>

    <meta charset="utf-8">
      {% comment %} default platformOS provided styles {% endcomment %}
      {% render 'modules/common-styling/init', reset: true %}
      <link rel="stylesheet" href="{{ 'modules/user/style/pos-user-form.css' | asset_url }}">
      {% comment %} custom styles specific for this app, some overwrite the defaults {% endcomment %}
      <link rel="stylesheet" href="{{ 'style/app.css' | asset_url }}">

      <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=yes">

      <script>
        /* namespace */
        if(typeof window.pos !== 'object'){
          window.pos = {};
          window.pos.modules = {};
          window.pos.translations = {};
        }
      </script>

  </head>
  <body>
    {% if context.exports.current_profile.user.id %}
      <main class="app-user-page">
        <nav class="app-user-navigation">
          <a href="/">Home</a>
          <a href="/profile">Profile</a>
          <a href="/subscription">Subscription area</a>
          <a href="/admin">Admin</a>
        </nav>
        {{ content_for_layout }}
      </main>
    {% else %}
      <main class="app-user-intro">
        {{ content_for_layout }}
      </main>
    {% endif %}

    {% liquid
      function flash = 'modules/core/commands/session/get', key: 'sflash', clear: null
      if context.location.pathname != flash.from or flash.force_clear
        function _ = 'modules/core/commands/session/clear', key: 'sflash'
      endif

      render 'modules/common-styling/toasts', params: flash
    %}

  </body>
</html>
